@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Noto+Serif+TC:wght@200..900&display=swap');
@import url("reset.css");

body{
  background-image: url(../picture/background4.jpg);
  font-size: 16px;
  line-height: 24px;
}

/* icon顏色 */
.material-icons-round{
    color: #9279BA;
   
}

.wrapper{
    font-family: "Noto Serif TC", serif;
    color: #333333;
    margin: 0 5vw;
    height: 100vh;
    
    
}

nav{
    
    /* outline: red solid; */
    width: 100%;
    
    /* position: fixed;
    top: 0;
    left: 0; */
    
}

img{
  width: 26%;
  aspect-ratio: 2.5 / 1;
}

main{
    /* outline:lightcoral solid; */
    width: 100%;
}

/* 左側選單 */
.burger{
  display: none;
}

aside{
    width: 20%;
    background-color: #F7F9FA;
    padding: 0 1.5rem;
    border-radius: 16px;
    box-shadow: 5px 0 10px #AB96C5 ;
    margin-bottom: 3rem;
    
}

aside li>h1{
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    margin: 1.5rem 0;
}

/* aside li:hover li a{
  color: red;
} */

.aside-search{
    display: flex;
    margin-top: 2rem;    
}
   
.aside-input{
    font-size: 16px;
}

input[type="search"]{
    border:none;
    outline: none;
    background-color: transparent;
    font-family: "Noto Serif TC", serif;
}

aside a{
    text-decoration: none;
    color: #9279BA;
}

.system li:last-child{
  margin-bottom: 24px;
}



.wrapper main{
    display: flex;
}

.right{
    width: 75%;
    margin-left: 5%;
    margin-bottom: 3rem;
    outline: coral 1px solid;
    display: flex;
    flex-direction: column;
    
    
}

/* 搜尋區 */


.course{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* justify-content: start; */
    margin-bottom: 5rem;
    
      
}

.course li{
    padding: 1rem;
    /* margin: 2rem; */
    width: 13%;
    cursor: pointer;
    font-size: 22px;
    line-height: 28px;
    writing-mode: vertical-lr;
    border-left: #9279BA 1px dashed;   

}

.bottom{
    display: flex;
    width: 100%;
    
}

.bottom li{
    padding: 1rem;
    /* margin: 2rem; */
    width: 12%;
    cursor: pointer;
    font-size: 22px;
    line-height: 28px;
    writing-mode: vertical-lr;
    border-left: #9279BA 1px dashed;  

}




.right img{
    margin: 0 auto;
    width: 60%;
    aspect-ratio:4/3;
    opacity: 80%;
    border-radius: 5%;
    
}

/* hover效果 */

.course li:hover{
    color: #9279BA;
}

.bottom li:hover{
    color: #9279BA;
}




  
  /* RWD */
  
  