@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Noto+Serif+TC:wght@200..900&display=swap');

  @media screen and (max-width: 1173px){
    .filter li{
      padding: 0 0.5rem 1rem 0;
    }
    .scroll{
      width: 100%;
      overflow-x: scroll; 
    }
  }


  @media screen and (max-width: 1024px) {
      

      .filter{
        flex-wrap:wrap;
        justify-content: center;
      }
    
      .table {
        width: 85%;
      }
    
  }

  @media screen and (max-width: 900px) {
    
    aside{
      padding: 0 1rem;
    }

  }
  
  /* 平板 */
  @media screen and (max-width: 768px) {

    html{
      font-size: 14px;
      line-height: 20px;
    }

    nav{
      display: flex;
      justify-content: center;
      /* background-color: #F7F9FA; */
    }

    nav img{
      padding: 0;
    }
    
    .filter {
      /* flex-direction: column; */
    }
  
    .filter li {
      /* width: 100%; */
      text-align: center;
    
    }
  
    .right {
      width: 100%;
      margin-left: 0;
    }  
    .burger {
      cursor: pointer;
      display: block;
      /* margin-top: 1.5rem; */
      position: relative;
      position: fixed;
      left: 1rem;
    }

    /* .burger.x .material-icons-round::before {
      content: 'cancel';
    }
     */
    /* 隱藏icon內容 */
  .burger .material-icons-round {
    content: '';
  }

  /* 當aside展開時顯示cancel */
  .aside-active .burger .material-icons-round {
    content: 'cancel';
  }

  /* 當aside收合時顯示menu */
  .burger .material-icons-round {
    content: 'menu';
  }

   
    aside {
      display: none;
      position: absolute;
      position: fixed; /* 加入固定定位 */
      margin-top: 0; /* 定位至頂部 */
      left: 0; /* 定位至左邊 */
      height: 100%; /* 全高 */
      z-index: 1000; /* 確保在最上層 */
    }
    .aside-active {
      display: block;
    }
  
  }

  @media screen and (max-width: 650px) {
  
    /* 表格 */
    .table {
      display: block;
      margin-bottom: 1rem;
    }
    .table_row:nth-child(2n+3) {
      background: none;
    }
    .theader {
      display: none;
    }
    .table_row > .table_small > .table_cell:nth-child(odd) {
      display: table-cell;
      width: 50%;
      font-weight: bold;
    }
    .table_cell {
      display: table-cell;
      width: 50%;
      line-height: 1.5;
      border-bottom:#9279BA 1px dashed;
    }
    .table_row {
      display: table;
      width: 100%;
      border-collapse: separate;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin: 5% auto 0;
      text-align: center;
    }
    .table_small {
      display: table-row;
    }
    .table_row > .table_small:first-child > .table_cell:last-child {
      border-left: none;
    }
    .table_row > .table_small > .table_cell:first-child {
      /* border-left: #ccc 1px solid; */
    }
    .table_row > .table_small:first-child > .table_cell:first-child {
      border-top-left-radius: 5px;
      /* border-top: #ccc 1px solid; */
    }
    .table_row > .table_small:first-child > .table_cell:last-child {
      border-top-right-radius: 5px;
      /* border-top: #ccc 1px solid; */
    }
    .table_row > .table_small:last-child > .table_cell:first-child {
      border-right: none;
    }
    .table_row > .table_small > .table_cell:last-child {
      /* border-right: #ccc 1px solid; */
    }
    .table_row > .table_small:last-child > .table_cell:first-child {
      border-bottom-left-radius: 5px;
    }
    .table_row > .table_small:last-child > .table_cell:last-child {
      border-bottom-right-radius: 5px;
    }

    
  }
  
  /* 手機 */
  @media screen and (max-width: 480px) {
    html{
      font-size: 12px;
      line-height: 16px;
    }
    
    .table {
      display: block;
    }
  
    .table_row:nth-child(2n+3) {
      background: none;
    }
  
    .theader {
      display: none;
    }
  
    .table_row > .table_small > .table_cell:nth-child(odd) {
      display: table-cell;
      width: 50%;
      font-weight: bold;
    }
  
    .table_cell {
      display: table-cell;
      width: 50%;
      line-height: 1.5;
      border-bottom:#9279BA 1px dashed;
    }
  
    .table_row {
      display: table;
      width: 100%;
      border-collapse: separate;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin: 5% auto 0;
      text-align: center;
    }
  
    .table_small {
      display: table-row;
    }
  }
  
  @media screen and (max-width: 320px) {
    
  
    .search {
    
      margin: 1.5rem 5% 0.75rem 5%;
      padding: 0.25rem 0.75rem;
    }
  }